#heading {
  background-color: #ddd;
  color: #e3d123;
  height: 600px;
}
#heading:hover {
  background-color: #e3d123;
  height: 600px;
}
#golf-heading-link {
  color:  #64368e;
  font-size: 4.5em;]
}
#golf-heading-link:hover {
  text-decoration: none;
  color:  #6F3C9E;
}
.golf-container-link {
  text-align: center;
}
#banner {
  height: 90%;
  width: 100%;
}

#date {
  margin-top: -30px;
  font-size: 2.5em;
  background-color: #333;
  text-align: center;
  color: #ddd;
  height: 570px;
}

#date h3 {
  color: #bbb;
}

#date p {
  margin-top: 20px;
  font-size: .6em;
}
#golf {
  margin-top: -30px;
  width: 100%;
  height: 570px;
  background-color: #e3d123;
}
#golf p {
  margin: 30px 10px 0 10px;
  color: #222;
  font-size: 1.3em;
}
#dakota-title {
  margin-left: 3%;
  margin-top: 40px;
  font-size: 2.6em;
}
body {
  background-color: #64368e;
}
#sponser {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 200px;
}
.sponsorWell {
  background-color: #e3d123;
}
#sponser p {
  color: #ccc;
}
#contact {
  height: 500px;
  background-color: #333;
  color: #ccc;
}
#contact h2 {
  margin-top: -10px;
}
#contact-form {
  margin-top: 20px;
}
